transformers>=4.37.2
datasets>=2.14.3
accelerate>=0.27.2
peft>=0.10.0
trl>=0.8.1
scipy
einops
sentencepiece
protobuf
matplotlib>=3.7.0
packaging
pyyaml
# idr_torch @ git+https://github.com/idriscnrs/idr_torch.git
hydra-core
black
isort
omegaconf
python-dotenv
ipdb